.App {
  text-align: center;
}

Body {
  margin-top: 50px;
  background: #FFF;
}

Item:hover {
  cursor: pointer;
}

#topMenu {
  box-shadow: 0px 2px 4px 1px rgba(100, 100, 100, 0.3);
}

/* menu buttons */
.ui.menu .item {
  padding: 0;
  font-size: 1.5em;
}

#collapsedMenuButton:hover {
  cursor: pointer;
}

#logo {
  padding: 0 inherit;
  margin: 0 inherit;
  height: 100%;
  width: inherit;
}

#title {
  padding: 0;
  font-size: 2em;
  font-weight: 800;
  color: #054BBC;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.5);
}

div.ui.horizontal.divider {
  margin: 1.75rem 0 1.25rem 0;
}

#truckImage {
  width: 100%;
}

h1 {
  color: #5F80EE;
}

.noteDisplay {
  color: #444AAA;
}
