.App {
  text-align: center;
}

Body {
  margin-top: 50px;
}

Menu.Item:hover {
  cursor: pointer;
}

.ui.menu .item {
  padding: 0;
  font-size: 2em;
}

#logo {
  padding: 0 inherit;
  margin: 0 inherit;
  height: 100%;
  width: inherit;
}

#title {
  padding: 0;
  font-size: 2em;
  font-weight: 800;
  color: #054BBC;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.5);
}

#truckImage {
  width: 25vw;
}

h1 {
  color: #5F80EE;
}

.notes {
  color: #444AAA;
}
